@font-face {
  font-family: 'Roboto Medium';
  src: url('../fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

.home-pg {
  position: relative;
}

.home-bg {
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

nav {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

nav::before {
  content: '';
  position: fixed;
  width: 100%;
  height: 240px;
  background-image: linear-gradient(rgba(21, 21, 21, 0.8), rgba(21, 21, 21, 0));
}

nav::after {
  content: '';
  position: fixed;
  width: 100%;
  height: 240px;
  bottom: 0;
}

.ham-btn-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 40px;
  height: 40px;
  top: 30px;
  right: 30px;
  gap: 8px;
}

.ham-layer {
  width: 100%;
  height: 4px;
  background-color: white;
}

.home-text-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home-text-container > p {
  color: white;
  font-family: 'Roboto Medium', Arial;
}

.home-text-container > p:nth-child(1) {
  font-family: 'Roboto Bold';
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.home-text-container > p:nth-child(2),
.home-text-container > p:nth-child(3) {
  font-size: 1.5rem;
}
