body {
  background-color: #4a4e69;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

.home-pg {
  display: block;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.hp-menu {
  display: flex;
  flex-direction: row;
  gap: 60px;
  cursor: pointer;
  font-family: 'Roboto-Regular';
}

.hp-menu > li > a {
  text-decoration: none;
  color: #fff;
  padding-bottom: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: border-bottom 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
}

.hp-menu > li > a:hover {
  padding-bottom: 5px;
  border-bottom: 3px solid rgba(255, 255, 255, 1);
}

.home-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.shadow {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: 100%;
}

.shadow::before {
  content: '';
  position: fixed;
  width: 100%;
  height: 240px;
  background-image: linear-gradient(rgba(21, 21, 21, 0.8), rgba(21, 21, 21, 0));
}

.ham-btn-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 40px;
  height: 40px;
  top: 30px;
  right: 30px;
  gap: 8px;
}

.ham-layer {
  width: 100%;
  height: 4px;
  background-color: white;
}

.home-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  user-select: none;
}

.home-text-container > p {
  color: white;
  font-family: 'Roboto-Medium', Arial;
}

.home-text-container > p:nth-child(1) {
  font-family: 'Roboto-Bold';
  font-size: 7rem;
  margin-bottom: 9px;
}

.home-text-container > p:nth-child(2),
.home-text-container > p:nth-child(3) {
  font-size: 5rem;
}

.imp-btn-container {
  position: relative;
  top: 50px;
  display: flex;
  font-family: 'Roboto-Regular';
  gap: 50px;
}

.imp-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 60px;
  cursor: pointer;
  font-family: 'Roboto-Regular';
}

.imp-btn-1 {
  background-color: white;
  transition: background-color 0.5s;
}

.imp-btn-1:hover {
  background-color: rgb(182, 182, 182);
}

.imp-btn-2 {
  border: 1px solid #fff;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color 0.5s;
}

.imp-btn-2:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.social-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.social-btn-mobile {
  display: block;
  height: 30px;
  object-fit: contain;
}

.menu-pg {
  opacity: 0;
  position: fixed;
  transition: 0.2s ease-in-out;
  pointer-events: none;
  height: 100vh;
  width: 100vw;
}

.menu-pg.open-menu {
  opacity: 1;
}

.menu-bg {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #4a4e69;
  height: 100vh;
  width: 100vw;
}

.close-btn {
  height: 30px;
  width: 30px;
  background-color: white;
}

.menu-pg-item-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.menu-pg-item-container > li {
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
  font-family: 'Roboto-Medium';
  cursor: pointer;
}

.menu-social-footer {
  position: absolute;
  bottom: 0;
}

.curr-page-disabled {
  pointer-events: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  position: fixed;
  width: 100%;
  color: #fff;
  font-family: 'Roboto-Medium';
  font-size: 1.2rem;
  z-index: 100;
}

.nav-icon4 {
  display: none;
}

nav > p {
  margin-left: 30px;
}

.nav-social-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-right: 30px;
}

.about-me-pg {
  display: none;
}

.about-pg-text-container {
  padding-top: 120px;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
  font-family: 'Roboto-Regular';
}

.about-pg-text-container > h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-pg-text-container > p {
  margin-bottom: 20px;
  line-height: 1.5;
}

.client-img-circle {
  display: block;
  border-radius: 50%;
  height: 300px;
  margin: 100px auto;
}

.contact-block {
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 60px auto;
}

.contact-block > p {
  font-family: 'Roboto-Regular';
  color: white;
}

.photography-pg {
  display: none;
  box-sizing: border-box;
}

.photog-pg-title {
  color: white;
  text-align: center;
  font-size: 4rem;
  margin-left: 100px;
  margin-bottom: 100px;
  padding-top: 150px;
  font-family: 'Roboto-Bold';
}
.photog-img-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 2000px;
  margin-left: 30px;
  margin-right: 30px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.img-li {
  display: block;
  box-sizing: border-box;
  width: 400px;
  height: 400px;
  cursor: pointer;
}

.photog-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

.remove-scroll {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

.back-drop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  cursor: pointer;
  z-index: 1000;
}

.focus-img {
  object-fit: contain;
  width: 100%;
  height: 80%;
}

@media (max-width: 1300px) {
  /* Icon 4 - By Jesse Couch Codepen: https://codepen.io/designcouch*/
  /* Forked Codepen: https://codepen.io/designcouch/pen/Atyop*/
  /* Modified by Edgar Carrillo */

  .nav-icon4 {
    display: block;
    z-index: 100;
    width: 60px;
    height: 45px;
    margin-right: 30px;
    margin-top: 8px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    cursor: pointer;
  }

  .nav-icon4 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: white;
    /* border-radius: 9px; */
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  .nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  .nav-icon4 span:nth-child(2) {
    top: 15px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  .nav-icon4 span:nth-child(3) {
    top: 30px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  .nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
  }

  .nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  .nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
  }

  /* Home Page */

  .nav-social-container {
    display: none;
  }

  .home-text-container > p:nth-child(1) {
    font-family: 'Roboto-Bold';
    font-size: 4.5rem;
    margin-bottom: 10px;
  }

  .home-text-container > p:nth-child(2),
  .home-text-container > p:nth-child(3) {
    font-size: 2.5rem;
  }

  .hp-menu {
    display: none;
    flex-direction: row;
    gap: 40px;
    cursor: pointer;
  }

  .imp-btn-container {
    position: absolute;
    top: 160px;
    display: flex;
    font-family: 'Roboto-Regular';
    gap: 50px;
  }

  .imp-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60px;
  }

  .imp-btn-1 {
    background-color: white;
  }

  .imp-btn-2 {
    border: 1px solid #fff;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
  }

  /* Photography Page */

  .photog-pg-title {
    color: white;
    font-size: 3rem;
    text-align: initial;
    margin-left: 30px;
    margin-bottom: 50px;
    font-family: 'Roboto-Bold';
  }

  .photog-img-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 100vw;
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
    justify-content: center;
  }

  .img-li {
    display: block;
    box-sizing: border-box;
    max-height: 40vh;
    max-width: 100%;
    cursor: pointer;
    flex-grow: 1;
  }

  .photog-img {
    object-fit: cover;
    min-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
  }
}

@media (max-width: 700px) {
  /* Home Page */

  .home-text-container > p:nth-child(1) {
    font-family: 'Roboto-Bold';
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  .home-text-container > p:nth-child(2),
  .home-text-container > p:nth-child(3) {
    font-size: 1.5rem;
  }

  .hp-menu {
    display: none;
    flex-direction: row;
    gap: 40px;
    cursor: pointer;
  }

  .imp-btn-container {
    position: absolute;
    top: 120px;
    display: flex;
    font-family: 'Roboto-Regular';
    gap: 50px;
  }

  .imp-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60px;
  }

  .imp-btn-1 {
    background-color: white;
  }

  .imp-btn-2 {
    border: 1px solid #fff;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
  }

  /* Photography page */

  .photog-pg-title {
    color: white;
    font-size: 2.5rem;
    margin-left: 30px;
    margin-bottom: 50px;
    font-family: 'Roboto-Bold';
  }

  .photog-img-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 100vw;
    margin-left: 30px;
    margin-right: 30px;
  }

  .img-li {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    cursor: pointer;
  }

  .photog-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.contact-pg {
  display: none;
}

.contact-card-container {
  padding-top: 120px;
}

.contact-card {
  background-color: white;
  margin: 0 30px;
  max-width: 2000px;
  padding-top: 40px;
}

.title-text {
  color: #4a4e69;
  font-size: 3rem;
  font-family: 'Roboto-Bold';
  margin-left: 30px;
  margin-bottom: 50px;
}

.contact-card > form {
  margin-left: 30px;
}

label {
  display: block;
  color: #4a4e69;
  font-family: 'Roboto-Regular';
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.input-container {
  background-color: #f1f1f1;
  height: 40px;
  max-width: 600px;
  margin-right: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 5px 15px;
}

input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: 'Roboto-Regular';
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.contact-card > form > ul > li {
  margin-bottom: 30px;
}

.message-container {
  display: block;
  height: 300px;
  max-width: 600px;
  margin-right: 30px;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 10px 15px;
}

.contact-message-block {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin-right: 10px;
  resize: none;
  font-family: 'Roboto-Regular';
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  outline: none;
  overflow: hidden;
}

.submit-btn {
  width: 160px;
  height: 60px;
  font-family: 'Roboto-Regular';
  color: #fff;
  background-color: #4a4e69;
  font-size: 1.2rem;
  border: none;
  margin-top: 20px;
  margin-bottom: 80px;
  cursor: pointer;
}

.contact-deco-text-container {
  width: 100%;
  height: 150px;
  margin-bottom: 50px;
  padding-bottom: 80px;
}

.contact-deco-text-container > div {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  height: 100%;
  background-color: #fff;
  margin: 0 30px;
  padding: 5px 15px;
  border: 2px solid #4a4e69;
  text-align: center;
}

.contact-deco-text-container > div > p {
  font-size: 1rem;
  font-family: 'Roboto-Regular';
  color: #4a4e69;
  line-height: 1.3;
}

.photog-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 300px;
  border-top: 3px solid white;
  color: white;
  line-height: 1.2;
  font-size: 1.2rem;
  font-family: 'Roboto-Regular';
}

.photog-info-container > p:nth-child(4) {
  margin-top: 20px;
  text-decoration: underline;
}

.error-text-container {
  display: none;
  margin-top: 10px;
  font-family: 'Roboto-Regular';
  color: #ff4545;
}

.error-text-container + p {
  color: #4a4e69;
  font-size: 1.2rem;
  font-family: 'Roboto-Regular';
  margin-top: 5px;
}

.error-message {
  opacity: 0;
  max-width: 600px;
  height: 40px;
  background-color: #ff4545;
  margin-right: 30px;
  padding: 5px 15px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-family: 'Roboto-Bold';
  font-size: 1rem;
  margin-top: 10px;
  transition: opacity 0.5s;
}

.show {
  opacity: 1;
}

.error-message.success-message {
  opacity: 1;
  background-color: #23c552;
}
